body {
    background-color: #101010;
    text-align: center;
}

#header {
    background-color:#101010;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
	color:#737373;
    text-align: center;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

.box {
  display: inline-block;
  width: 110px;
  margin-top: 1em;
  position:relative;
}

.box2 {
  display: inline-block;
  width: 220px;
  margin: 10px;
  position:relative;
}
